table tbody tr td .row-actions a {
    visibility: hidden;
}

table tbody tr:hover .row-actions a {
    visibility: visible;
}

table.tnct-table tbody tr td {
    vertical-align: top !important;
}

.categories {
    a {
        &:after {
            content: ',';
        }

        &:last-child {
            &:after {
                content: none;
            }
        }
    }
}
